body {
    background: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.sidebar {
    background: #e0ebfe;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 40px;
    box-sizing: border-box;
}

.resume-img {
    padding-top: 0px;
}

.sidebar-content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Contacts styles */
.contacts-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
}

.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #2979ff;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* Tech skills styles */
.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
}

.skills-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
}

/* Main content styles */
.my-profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px;    
}

.my-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-info {
    margin-bottom: 40px;
}

/* Projects styles */
.my-projects-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000; 
    margin-top: 0;
    margin-bottom: 8px;   
}

.my-projects-list {
    
    padding-left: 16px;
}

.my-projects-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000;   
}

.my-projects-item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #005fff;
}

.my-projects-item-tech {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Work experience styles */
.work-experience-company {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px; 
}

.company-name {
    color: #6d9bf5;
}

.work-experience-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 8px; 
}

.separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-container {
    margin-bottom: 12px;
}